<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Golang TODOS</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    </head>
    <body class="flex flex-col justify-center items-center min-h-screen">
        <div class="border-2 px-4 py-3 rounded-xl">
            <ul id="container" class="text-2xl px-4 pb-3 flex flex-col gap-1 divide-y" hx-get="/todos" hx-swap="innerHTML" hx-trigger="load once">
            </ul>
            <form hx-post="/todos" hx-on:submit="this.reset()" hx-ext="json-enc" hx-target="#container" hx-swap="beforeend">
                <input type="text" class="border-2 rounded-full px-4 py-2" name="content" placeholder="Todo content...">
                <button type="submit" class="bg-emerald-400 rounded-full px-4 py-2">Add</button>
            </form>
        </div>
    </body>
</html>
